
.navigation-bar {
    margin: 0;
    padding: 10px;
    font-family: "Roboto", sans-serif;
    position: fixed;
    left: 50%;
    transform: translatex(-50%);
    top: 20px;
    width: 400px;
    z-index: 1;
    border-radius: 20px;
    border: 3px solid black;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(3px);

}

.navigation-bar-row {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    width: auto;
    justify-content: space-between;
}

.item {
    font-size: larger;
    display: inline;
    margin-right: 15px;
    margin-left: 15px;
    white-space: nowrap;
    color: #030000;
}

.item-active {
    font-weight: 900;
    color: black;

}

.item:hover:not(.item-active) {
    color: black;
    font-weight: 900;

}


@media screen and (max-width: 600px) {
    .navigation-bar {
        width: 350px;

    }
}

@media screen and (max-width: 400px) {
    .navigation-bar {
        width: 300px;
    }

    .item {
        margin-right: 5px;
        margin-left: 5px;
    }
}
