
.thumbnail-container {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
}

.thumbnail-container-game {
    max-width: calc(25% - 30px);
    margin-bottom: 10px;
    min-height: 100%;
}

.thumbnail-container-event {
    flex: 50%;
    max-width: calc(50% - 30px);
    margin-bottom: 10px;
}

.thumbnail-container-event-title {
    font-size: larger;
}

.thumbnail-container-image {
    max-width: 80%;
    margin-bottom: 20px;
}

.thumbnail-container-title {
    font-weight: bold;
    font-size: x-large;
}


.thumbnail-container-name {
    position: absolute;
    bottom: 10px;
    left: 10px;
    text-align: left;
    font-size: large;
}

.first {
    font-weight: normal;

}

.thumbnail-container-background {
    position: relative;
    border-radius: 10px;
    padding: 10px;
    margin-right: 15px;
    margin-left: 15px;

}


.robot-background {
    background-color: #FFC5C5;
}

.bomb-background {
    background-color: #FFF7B0;
}

.cup-background {
    background-color: #D7FFC5
}

.gamepad-background {
    background-color: #C5F5FF;

}

.date-background {
    background-color: #d7ace5
}

.attendance-background {
    background-color: #EAEAEA;
}

.robot-image {
    margin-top: 5%;
    margin-left: 25%;
    transform: rotate(15deg);
}

.bomb-image {
    margin-left: 35%;
}

.cup-image {
    margin-left: 42%;
}

.gamepad-image {
    margin-left: 30%;
}

.date-image {

}

.attendance-image {

}

@media screen and (max-width: 1170px) {
    .thumbnail-container-game {
        flex: 50%;
        max-width: 40%;
        margin-left: 5%;
        margin-right: 5%;
    }

    .thumbnail-container-event {
        flex: 100%;
        max-width: 100%;
    }

    .thumbnail-container-title {
        font-size: x-large;
    }


    .thumbnail-container-name {
        font-size: large;
    }
}

@media screen and (max-width: 600px) {
    .thumbnail-container-game {
        flex: 100%;
        max-width: 100%;
    }

}

