.thumbnail-container {
    display: flex;
    flex-wrap: wrap;
    height: 100%;

}

.thumbnail-container-game {
    flex: 25%;
    max-width: 25%;
    margin-bottom: 10px;
}

.thumbnail-container-event {
    flex: 50%;
    max-width: 50%;
    margin-bottom: 10px;
}
.thumbnail-container-event-title {

    font-size: large;
}

.thumbnail-container-image {
    width: 80%;
    margin-bottom: 20px;
}

.thumbnail-container-title {
    font-weight: bold;
    font-size: large;
}


.thumbnail-container-name {
    text-align: left;
    position: absolute;
    bottom: 0;
    left: 5px;
}

.first {
    font-weight: normal;

}

.thumbnail-container-background {
    position: relative;
    border-radius: 10px;
    padding: 10px;
    height: 100%;
    margin-right: 10px;
    margin-left: 10px;
}


.robot-background {
    background-color: #FFC5C5;
}

.bomb-background {
    background-color: #FFF7B0;
}

.cup-background {
    background-color: #D7FFC5
}

.gamepad-background {
    background-color: #C5F5FF;

}

.date-background {
    background-color: #d7ace5
}

.attendance-background {
    background-color: #EAEAEA;
}

.robot-image {
    margin-top: 5%;
    margin-left: 25%;
    transform: rotate(15deg);
}

.bomb-image {
    margin-left: 35%;
}

.cup-image {
    margin-left: 42%;
}

.gamepad-image {
    margin-left: 30%;
}

.date-image {

}

.attendance-image {

}

.word-wrap {
    word-wrap: break-word;
}

@media screen and (max-width: 800px) {
    .thumbnail-container-game {
        flex: 50%;
        max-width: 50%;
    }

    .thumbnail-container-event {
        flex: 100%;
        max-width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .thumbnail-container-game {
        flex: 100%;
        max-width: 100%;
    }
}
